* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;

    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    color: #fff;

    height: 60px;
}

header h2 {
    font-size: 24px;
    color: #f9faf8;
}

header ul {
    display: flex;
    gap: 20px;
}

header ul li a {
    color: #e5e7eb;
    font-size: 18px;
}