* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;

    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;

    display: flex;
    justify-content: space-around;
    align-items: center;

    color: #fff;

    height: 60px;
}

header h2 {
    font-size: 24px;
    color: #f9faf8;
}

header ul {
    display: flex;
    gap: 20px;
}

header ul li a {
    color: #e5e7eb;
    font-size: 18px;
}

/* Hero */
.hero {
    display: flex;
    gap: 20px;

    align-items: center;
    justify-content: center;

    background-color: #1f2937;
    color: #fff;

    padding: 80px 0;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    max-width: 450px;
    gap: 10px;
}

.hero-left h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-left p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-left button {
    background-color: #3882f6;
    padding: 8px;
    color: #fff;
    width: 100px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.hero-right {
    min-height: 250px;
    min-width: 450px;
    background-color: gray;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Some Random Information */

.some-random {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.some-random h2 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
}

.container-some-random {
    margin-top: 80px;
    display: flex;
    gap: 40px;
}

.container-some-random-item {
    max-width: 215px;
    min-height: 215px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    text-align: center;
}

.square-random-item {
    width: 100%;
    height: 100%;
    border: 3px solid #3882f6;
    border-radius: 20px;
}

.container-some-random-item span {
    max-width: 150px;
    color: #1f2937;
}

/* Quote section */
.quote-container {
    width: 100%;
    background-color: #e5e7eb;

    min-height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-content {
    max-width: 47%;
    display: flex;
    flex-direction: column;

}

.quote-container i {
    text-align: left;
    font-size: 36px;
    font-weight: light;
}

.quote-container span {
    text-align: right;
}

/* Call To Action */

.call-to-action-container {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-content {
    background-color: #3882f6;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    min-height: 120px;
    width: 70%;

    border-radius: 8px;

    color: #fff;
}

.call-to-action-content div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.call-to-action-content p {
    font-size: 12px;
    font-weight: lighter;
    color: #d8d6d6;
}

.call-to-action-content button {
    border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 8px 24px;
    cursor: pointer;
}

/* footer */
footer {
    background-color: #1f2937;
    min-height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

    font-size: 12px;
}